#heading1{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
}
.input-tag{
    background: none;
    border: 1px solid black;
    border-radius: 7px;
    height: 40px;
}
.btn{
    width: 50px;
    font-size: 20px !important;
}

.container{
    border: 2px solid black;
    height: 350px;
}